default/delivery-queue.json
{
  "externalControllerServices" : { },
  "flow" : {
    "createdTimestamp" : 1779989634057,
    "description" : "",
    "identifier" : "delivery-queue",
    "lastModifiedTimestamp" : 1779989634057,
    "name" : "delivery-queue",
    "versionCount" : 0
  },
  "flowContents" : {
    "comments" : "",
    "componentType" : "PROCESS_GROUP",
    "connections" : [ {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "20fc97a6-7f40-38a8-bef2-8b19c06b1c91",
        "name" : "PutFile",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "31ea29d6-5987-3dfb-a77d-c36b786c313e",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "5c7ba066-ae7b-3cdb-9b38-a7586ebca337",
        "name" : "FetchS3Object",
        "type" : "PROCESSOR"
      },
      "zIndex" : 3
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "5c7ba066-ae7b-3cdb-9b38-a7586ebca337",
        "name" : "FetchS3Object",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "741b8e46-fe56-3514-a83e-4c5a687daf24",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "matched" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "83596d58-6baf-32df-a9a7-aac27cd637c9",
        "name" : "EvaluateJsonPath",
        "type" : "PROCESSOR"
      },
      "zIndex" : 2
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "83596d58-6baf-32df-a9a7-aac27cd637c9",
        "name" : "EvaluateJsonPath",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "f7d3023e-9b05-39f3-a25e-f87123518c78",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "be594873-e283-304d-b5f7-3cbb52633302",
        "name" : "ConsumeAMQP",
        "type" : "PROCESSOR"
      },
      "zIndex" : 1
    } ],
    "controllerServices" : [ {
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-aws-nar",
        "group" : "org.apache.nifi",
        "version" : "2.9.0"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-aws-service-api-nar",
          "group" : "org.apache.nifi",
          "version" : "2.9.0"
        },
        "type" : "org.apache.nifi.processors.aws.credentials.provider.AwsCredentialsProviderService"
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "62f5b73c-4053-309b-92e3-6fd2b2fb9163",
      "name" : "AWSCredentialsProviderControllerService",
      "properties" : {
        "Assume Role STS Region" : "us-west-2",
        "Assume Role Session Time" : "3600",
        "Use Default Credentials" : "false",
        "Use Anonymous Credentials" : "false"
      },
      "propertyDescriptors" : {
        "Assume Role STS Region" : {
          "displayName" : "Assume Role STS Region",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Assume Role STS Region",
          "sensitive" : false
        },
        "Assume Role Proxy Configuration Service" : {
          "displayName" : "Assume Role Proxy Configuration Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Assume Role Proxy Configuration Service",
          "sensitive" : false
        },
        "Access Key ID" : {
          "displayName" : "Access Key ID",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Access Key ID",
          "sensitive" : true
        },
        "OAuth2 Access Token Provider" : {
          "displayName" : "OAuth2 Access Token Provider",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "OAuth2 Access Token Provider",
          "sensitive" : false
        },
        "Assume Role ARN" : {
          "displayName" : "Assume Role ARN",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Assume Role ARN",
          "sensitive" : false
        },
        "Assume Role Session Time" : {
          "displayName" : "Assume Role Session Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Assume Role Session Time",
          "sensitive" : false
        },
        "Assume Role Session Name" : {
          "displayName" : "Assume Role Session Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Assume Role Session Name",
          "sensitive" : false
        },
        "Use Default Credentials" : {
          "displayName" : "Use Default Credentials",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Use Default Credentials",
          "sensitive" : false
        },
        "Assume Role External ID" : {
          "displayName" : "Assume Role External ID",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Assume Role External ID",
          "sensitive" : false
        },
        "Assume Role STS Endpoint Override" : {
          "displayName" : "Assume Role STS Endpoint Override",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Assume Role STS Endpoint Override",
          "sensitive" : false
        },
        "Profile Name" : {
          "displayName" : "Profile Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Profile Name",
          "sensitive" : false
        },
        "Credentials File" : {
          "displayName" : "Credentials File",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Credentials File",
          "resourceDefinition" : {
            "cardinality" : "SINGLE",
            "resourceTypes" : [ "FILE" ]
          },
          "sensitive" : false
        },
        "Use Anonymous Credentials" : {
          "displayName" : "Use Anonymous Credentials",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Use Anonymous Credentials",
          "sensitive" : false
        },
        "Secret Access Key" : {
          "displayName" : "Secret Access Key",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Secret Access Key",
          "sensitive" : true
        },
        "Assume Role SSL Context Service" : {
          "displayName" : "Assume Role SSL Context Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Assume Role SSL Context Service",
          "sensitive" : false
        }
      },
      "scheduledState" : "DISABLED",
      "type" : "org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderControllerService"
    } ],
    "defaultBackPressureDataSizeThreshold" : "1 GB",
    "defaultBackPressureObjectThreshold" : 10000,
    "defaultFlowFileExpiration" : "0 sec",
    "executionEngine" : "INHERITED",
    "externalControllerServiceReferences" : { },
    "flowFileConcurrency" : "UNBOUNDED",
    "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
    "funnels" : [ ],
    "identifier" : "flow-contents-group",
    "inputPorts" : [ ],
    "labels" : [ ],
    "maxConcurrentTasks" : 1,
    "name" : "delivery-queue",
    "outputPorts" : [ ],
    "position" : {
      "x" : 0.0,
      "y" : 0.0
    },
    "processGroups" : [ ],
    "processors" : [ {
      "autoTerminatedRelationships" : [ "failure", "success" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.9.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "20fc97a6-7f40-38a8-bef2-8b19c06b1c91",
      "maxBackoffPeriod" : "10 mins",
      "name" : "PutFile",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -2080.0,
        "y" : -632.0
      },
      "properties" : {
        "Create Missing Directories" : "true",
        "Directory" : "/storage/output/${original.uuid}",
        "Conflict Resolution Strategy" : "fail"
      },
      "propertyDescriptors" : {
        "Group" : {
          "displayName" : "Group",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Group",
          "sensitive" : false
        },
        "Owner" : {
          "displayName" : "Owner",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Owner",
          "sensitive" : false
        },
        "Create Missing Directories" : {
          "displayName" : "Create Missing Directories",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Create Missing Directories",
          "sensitive" : false
        },
        "Permissions" : {
          "displayName" : "Permissions",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Permissions",
          "sensitive" : false
        },
        "Maximum File Count" : {
          "displayName" : "Maximum File Count",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Maximum File Count",
          "sensitive" : false
        },
        "Last Modified Time" : {
          "displayName" : "Last Modified Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Last Modified Time",
          "sensitive" : false
        },
        "Directory" : {
          "displayName" : "Directory",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Directory",
          "sensitive" : false
        },
        "Conflict Resolution Strategy" : {
          "displayName" : "Conflict Resolution Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Conflict Resolution Strategy",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ "failure" ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.PutFile",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "failure" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-aws-nar",
        "group" : "org.apache.nifi",
        "version" : "2.9.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "5c7ba066-ae7b-3cdb-9b38-a7586ebca337",
      "maxBackoffPeriod" : "10 mins",
      "name" : "FetchS3Object",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -2080.0,
        "y" : -848.0
      },
      "properties" : {
        "Endpoint Override URL" : "https://garage-api.swigg.net",
        "Object Key" : "${original.uuid}",
        "Bucket" : "output-queue",
        "AWS Credentials Provider Service" : "62f5b73c-4053-309b-92e3-6fd2b2fb9163",
        "Communications Timeout" : "30 secs",
        "Region" : "use-custom-region",
        "Custom Region" : "garage",
        "Requester Pays" : "false"
      },
      "propertyDescriptors" : {
        "Endpoint Override URL" : {
          "displayName" : "Endpoint Override URL",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Endpoint Override URL",
          "sensitive" : false
        },
        "Object Key" : {
          "displayName" : "Object Key",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Object Key",
          "sensitive" : false
        },
        "Proxy Configuration Service" : {
          "displayName" : "Proxy Configuration Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Proxy Configuration Service",
          "sensitive" : false
        },
        "Range Start" : {
          "displayName" : "Range Start",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Range Start",
          "sensitive" : false
        },
        "SSL Context Service" : {
          "displayName" : "SSL Context Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "SSL Context Service",
          "sensitive" : false
        },
        "Bucket" : {
          "displayName" : "Bucket",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Bucket",
          "sensitive" : false
        },
        "Version" : {
          "displayName" : "Version",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Version",
          "sensitive" : false
        },
        "AWS Credentials Provider Service" : {
          "displayName" : "AWS Credentials Provider Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "AWS Credentials Provider Service",
          "sensitive" : false
        },
        "Communications Timeout" : {
          "displayName" : "Communications Timeout",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Communications Timeout",
          "sensitive" : false
        },
        "Region" : {
          "displayName" : "Region",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Region",
          "sensitive" : false
        },
        "Encryption Service" : {
          "displayName" : "Encryption Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Encryption Service",
          "sensitive" : false
        },
        "Custom Region" : {
          "displayName" : "Custom Region",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Custom Region",
          "sensitive" : false
        },
        "Requester Pays" : {
          "displayName" : "Requester Pays",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Requester Pays",
          "sensitive" : false
        },
        "Range Length" : {
          "displayName" : "Range Length",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Range Length",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ "failure" ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.aws.s3.FetchS3Object",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "failure", "unmatched" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.9.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "83596d58-6baf-32df-a9a7-aac27cd637c9",
      "maxBackoffPeriod" : "10 mins",
      "name" : "EvaluateJsonPath",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -2080.0,
        "y" : -1064.0
      },
      "properties" : {
        "Destination" : "flowfile-attribute",
        "Max String Length" : "20 MB",
        "file.group" : "$[\"file.group\"]",
        "file.lastModifiedTime" : "$[\"lastModifiedTime\"]",
        "Return Type" : "auto-detect",
        "original.uuid" : "$[\"original.uuid\"]",
        "trace.end" : "$[\"trace.end\"]",
        "Null Value Representation" : "empty string",
        "mime.type" : "$[\"mime.type\"]",
        "file.size" : "$[\"file.size\"]",
        "mime.charset" : "$[\"mime.charset\"]",
        "file.permissions" : "$[\"file.permissions\"]",
        "Path Not Found Behavior" : "ignore",
        "trace.start" : "$[\"trace.start\"]",
        "path" : "$[\"path\"]",
        "filename" : "$[\"filename\"]",
        "flow.source" : "$[\"flow.source\"]",
        "file.owner" : "$[\"file.owner\"]",
        "mime.extension" : "$[\"mime.extension\"]"
      },
      "propertyDescriptors" : {
        "Destination" : {
          "displayName" : "Destination",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Destination",
          "sensitive" : false
        },
        "Max String Length" : {
          "displayName" : "Max String Length",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max String Length",
          "sensitive" : false
        },
        "file.group" : {
          "displayName" : "file.group",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "file.group",
          "sensitive" : false
        },
        "file.lastModifiedTime" : {
          "displayName" : "file.lastModifiedTime",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "file.lastModifiedTime",
          "sensitive" : false
        },
        "Return Type" : {
          "displayName" : "Return Type",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Return Type",
          "sensitive" : false
        },
        "original.uuid" : {
          "displayName" : "original.uuid",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "original.uuid",
          "sensitive" : false
        },
        "trace.end" : {
          "displayName" : "trace.end",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "trace.end",
          "sensitive" : false
        },
        "Null Value Representation" : {
          "displayName" : "Null Value Representation",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Null Value Representation",
          "sensitive" : false
        },
        "mime.type" : {
          "displayName" : "mime.type",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "mime.type",
          "sensitive" : false
        },
        "file.size" : {
          "displayName" : "file.size",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "file.size",
          "sensitive" : false
        },
        "mime.charset" : {
          "displayName" : "mime.charset",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "mime.charset",
          "sensitive" : false
        },
        "file.permissions" : {
          "displayName" : "file.permissions",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "file.permissions",
          "sensitive" : false
        },
        "Path Not Found Behavior" : {
          "displayName" : "Path Not Found Behavior",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Path Not Found Behavior",
          "sensitive" : false
        },
        "trace.start" : {
          "displayName" : "trace.start",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "trace.start",
          "sensitive" : false
        },
        "path" : {
          "displayName" : "path",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "path",
          "sensitive" : false
        },
        "filename" : {
          "displayName" : "filename",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "filename",
          "sensitive" : false
        },
        "flow.source" : {
          "displayName" : "flow.source",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "flow.source",
          "sensitive" : false
        },
        "file.owner" : {
          "displayName" : "file.owner",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "file.owner",
          "sensitive" : false
        },
        "mime.extension" : {
          "displayName" : "mime.extension",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "mime.extension",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-amqp-nar",
        "group" : "org.apache.nifi",
        "version" : "2.9.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "be594873-e283-304d-b5f7-3cbb52633302",
      "maxBackoffPeriod" : "10 mins",
      "name" : "ConsumeAMQP",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -2079.0,
        "y" : -1277.0
      },
      "properties" : {
        "Max Inbound Message Body Size" : "64 MB",
        "Port" : "5672",
        "Header Key Prefix" : "consume.amqp",
        "Auto-Acknowledge Messages" : "false",
        "Host Name" : "rabbitmq",
        "Prefetch Count" : "0",
        "Header Separator" : ",",
        "AMQP Version" : "0.9.1",
        "Header Output Format" : "Comma-Separated String",
        "Username" : "nifi",
        "Client Certificate Authentication Enabled" : "false",
        "Remove Curly Braces" : "False",
        "Batch Size" : "10",
        "Queue" : "output-queue"
      },
      "propertyDescriptors" : {
        "Max Inbound Message Body Size" : {
          "displayName" : "Max Inbound Message Body Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max Inbound Message Body Size",
          "sensitive" : false
        },
        "Port" : {
          "displayName" : "Port",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Port",
          "sensitive" : false
        },
        "Brokers" : {
          "displayName" : "Brokers",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Brokers",
          "sensitive" : false
        },
        "Header Key Prefix" : {
          "displayName" : "Header Key Prefix",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Header Key Prefix",
          "sensitive" : false
        },
        "Auto-Acknowledge Messages" : {
          "displayName" : "Auto-Acknowledge Messages",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Auto-Acknowledge Messages",
          "sensitive" : false
        },
        "Host Name" : {
          "displayName" : "Host Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Host Name",
          "sensitive" : false
        },
        "SSL Context Service" : {
          "displayName" : "SSL Context Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "SSL Context Service",
          "sensitive" : false
        },
        "Prefetch Count" : {
          "displayName" : "Prefetch Count",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Prefetch Count",
          "sensitive" : false
        },
        "Header Separator" : {
          "displayName" : "Header Separator",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Header Separator",
          "sensitive" : false
        },
        "AMQP Version" : {
          "displayName" : "AMQP Version",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "AMQP Version",
          "sensitive" : false
        },
        "Header Output Format" : {
          "displayName" : "Header Output Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Header Output Format",
          "sensitive" : false
        },
        "Virtual Host" : {
          "displayName" : "Virtual Host",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Virtual Host",
          "sensitive" : false
        },
        "Username" : {
          "displayName" : "Username",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Username",
          "sensitive" : false
        },
        "Client Certificate Authentication Enabled" : {
          "displayName" : "Client Certificate Authentication Enabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Client Certificate Authentication Enabled",
          "sensitive" : false
        },
        "Remove Curly Braces" : {
          "displayName" : "Remove Curly Braces",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Remove Curly Braces",
          "sensitive" : false
        },
        "Batch Size" : {
          "displayName" : "Batch Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Batch Size",
          "sensitive" : false
        },
        "Queue" : {
          "displayName" : "Queue",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Queue",
          "sensitive" : false
        },
        "Password" : {
          "displayName" : "Password",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Password",
          "sensitive" : true
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.amqp.processors.ConsumeAMQP",
      "yieldDuration" : "1 sec"
    } ],
    "remoteProcessGroups" : [ ],
    "scheduledState" : "ENABLED",
    "statelessFlowTimeout" : "1 min"
  },
  "flowEncodingVersion" : "1.0",
  "latest" : false,
  "parameterContexts" : { },
  "parameterProviders" : { },
  "snapshotMetadata" : {
    "author" : "admin",
    "flowIdentifier" : "delivery-queue",
    "timestamp" : 1779989634960
  }
}