default/ingestion.json
{
  "externalControllerServices" : { },
  "flow" : {
    "createdTimestamp" : 1779467942975,
    "description" : "",
    "identifier" : "ingestion",
    "lastModifiedTimestamp" : 1779467942975,
    "name" : "ingestion",
    "versionCount" : 0
  },
  "flowContents" : {
    "comments" : "",
    "componentType" : "PROCESS_GROUP",
    "connections" : [ {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "c71dcac4-7b09-308f-a5f9-37805906d552",
        "name" : "AttributesToJSON",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "18dcc029-8ecc-3482-9853-961cd0486dc3",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "1a0af5cc-6fb2-346e-825e-f86742c8c009",
        "name" : "IdentifyMimeType",
        "type" : "PROCESSOR"
      },
      "zIndex" : 7
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "d008159e-e3b3-314b-99f9-d1f06d24bb33",
        "name" : "PutS3Object",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "26e0a7b9-59b2-33c3-a34f-8d8850a8fa38",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "1a0af5cc-6fb2-346e-825e-f86742c8c009",
        "name" : "IdentifyMimeType",
        "type" : "PROCESSOR"
      },
      "zIndex" : 2
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "1a0af5cc-6fb2-346e-825e-f86742c8c009",
        "name" : "IdentifyMimeType",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "5992ff2b-47a5-3f82-a147-0e74ff6b79c7",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "c1c14e47-d116-3b73-89c1-2941cb39b42c",
        "name" : "FetchFile",
        "type" : "PROCESSOR"
      },
      "zIndex" : 6
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "594d4ff9-eef5-3bfc-a117-4368a2d36785",
        "name" : "PublishAMQP",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "939ab6f0-efb3-3cfb-83a3-89eccbf86f00",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "c71dcac4-7b09-308f-a5f9-37805906d552",
        "name" : "AttributesToJSON",
        "type" : "PROCESSOR"
      },
      "zIndex" : 8
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "c1c14e47-d116-3b73-89c1-2941cb39b42c",
        "name" : "FetchFile",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "f3645ae9-29a2-393d-b938-af9210e0e7e3",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "cfc7a2ad-cfcb-393d-b80a-3bf50a8c6c45",
        "name" : "ListFile",
        "type" : "PROCESSOR"
      },
      "zIndex" : 5
    } ],
    "controllerServices" : [ {
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-aws-nar",
        "group" : "org.apache.nifi",
        "version" : "2.9.0"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-aws-service-api-nar",
          "group" : "org.apache.nifi",
          "version" : "2.9.0"
        },
        "type" : "org.apache.nifi.processors.aws.credentials.provider.AwsCredentialsProviderService"
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "d7f88fe7-464d-370c-ada5-7fbee944a4a6",
      "name" : "AWSCredentialsProviderControllerService",
      "properties" : {
        "Assume Role STS Region" : "us-west-2",
        "Assume Role Session Time" : "3600",
        "Use Default Credentials" : "false",
        "Use Anonymous Credentials" : "false"
      },
      "propertyDescriptors" : {
        "Assume Role STS Region" : {
          "displayName" : "Assume Role STS Region",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Assume Role STS Region",
          "sensitive" : false
        },
        "Assume Role Proxy Configuration Service" : {
          "displayName" : "Assume Role Proxy Configuration Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Assume Role Proxy Configuration Service",
          "sensitive" : false
        },
        "Access Key ID" : {
          "displayName" : "Access Key ID",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Access Key ID",
          "sensitive" : true
        },
        "OAuth2 Access Token Provider" : {
          "displayName" : "OAuth2 Access Token Provider",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "OAuth2 Access Token Provider",
          "sensitive" : false
        },
        "Assume Role ARN" : {
          "displayName" : "Assume Role ARN",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Assume Role ARN",
          "sensitive" : false
        },
        "Assume Role Session Time" : {
          "displayName" : "Assume Role Session Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Assume Role Session Time",
          "sensitive" : false
        },
        "Assume Role Session Name" : {
          "displayName" : "Assume Role Session Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Assume Role Session Name",
          "sensitive" : false
        },
        "Use Default Credentials" : {
          "displayName" : "Use Default Credentials",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Use Default Credentials",
          "sensitive" : false
        },
        "Assume Role External ID" : {
          "displayName" : "Assume Role External ID",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Assume Role External ID",
          "sensitive" : false
        },
        "Assume Role STS Endpoint Override" : {
          "displayName" : "Assume Role STS Endpoint Override",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Assume Role STS Endpoint Override",
          "sensitive" : false
        },
        "Profile Name" : {
          "displayName" : "Profile Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Profile Name",
          "sensitive" : false
        },
        "Credentials File" : {
          "displayName" : "Credentials File",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Credentials File",
          "resourceDefinition" : {
            "cardinality" : "SINGLE",
            "resourceTypes" : [ "FILE" ]
          },
          "sensitive" : false
        },
        "Use Anonymous Credentials" : {
          "displayName" : "Use Anonymous Credentials",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Use Anonymous Credentials",
          "sensitive" : false
        },
        "Secret Access Key" : {
          "displayName" : "Secret Access Key",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Secret Access Key",
          "sensitive" : true
        },
        "Assume Role SSL Context Service" : {
          "displayName" : "Assume Role SSL Context Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Assume Role SSL Context Service",
          "sensitive" : false
        }
      },
      "scheduledState" : "DISABLED",
      "type" : "org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderControllerService"
    } ],
    "defaultBackPressureDataSizeThreshold" : "1 GB",
    "defaultBackPressureObjectThreshold" : 10000,
    "defaultFlowFileExpiration" : "0 sec",
    "executionEngine" : "INHERITED",
    "externalControllerServiceReferences" : { },
    "flowFileConcurrency" : "UNBOUNDED",
    "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
    "funnels" : [ ],
    "identifier" : "flow-contents-group",
    "inputPorts" : [ ],
    "labels" : [ ],
    "maxConcurrentTasks" : 1,
    "name" : "ingest",
    "outputPorts" : [ ],
    "position" : {
      "x" : 0.0,
      "y" : 0.0
    },
    "processGroups" : [ ],
    "processors" : [ {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.9.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "1a0af5cc-6fb2-346e-825e-f86742c8c009",
      "maxBackoffPeriod" : "10 mins",
      "name" : "IdentifyMimeType",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -832.0,
        "y" : -840.0
      },
      "properties" : {
        "Use Filename In Detection" : "true",
        "Config Strategy" : "Preset"
      },
      "propertyDescriptors" : {
        "Use Filename In Detection" : {
          "displayName" : "Use Filename In Detection",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Use Filename In Detection",
          "sensitive" : false
        },
        "Custom MIME Configuration" : {
          "displayName" : "Custom MIME Configuration",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Custom MIME Configuration",
          "resourceDefinition" : {
            "cardinality" : "SINGLE",
            "resourceTypes" : [ "FILE", "TEXT", "URL" ]
          },
          "sensitive" : false
        },
        "Config Strategy" : {
          "displayName" : "Config Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Config Strategy",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.IdentifyMimeType",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "failure", "success" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-amqp-nar",
        "group" : "org.apache.nifi",
        "version" : "2.9.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "594d4ff9-eef5-3bfc-a117-4368a2d36785",
      "maxBackoffPeriod" : "10 mins",
      "name" : "PublishAMQP",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -160.0,
        "y" : -792.0
      },
      "properties" : {
        "Routing Key" : "work-queue",
        "Exchange Name" : "",
        "Port" : "5672",
        "Host Name" : "rabbitmq",
        "Header Separator" : ",",
        "AMQP Version" : "0.9.1",
        "Username" : "nifi",
        "Client Certificate Authentication Enabled" : "false",
        "Headers Source" : "AMQP_HEADERS_ATTRIBUTE"
      },
      "propertyDescriptors" : {
        "Routing Key" : {
          "displayName" : "Routing Key",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Routing Key",
          "sensitive" : false
        },
        "Exchange Name" : {
          "displayName" : "Exchange Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Exchange Name",
          "sensitive" : false
        },
        "Port" : {
          "displayName" : "Port",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Port",
          "sensitive" : false
        },
        "Brokers" : {
          "displayName" : "Brokers",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Brokers",
          "sensitive" : false
        },
        "Host Name" : {
          "displayName" : "Host Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Host Name",
          "sensitive" : false
        },
        "Headers Pattern" : {
          "displayName" : "Headers Pattern",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Headers Pattern",
          "sensitive" : false
        },
        "SSL Context Service" : {
          "displayName" : "SSL Context Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "SSL Context Service",
          "sensitive" : false
        },
        "Header Separator" : {
          "displayName" : "Header Separator",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Header Separator",
          "sensitive" : false
        },
        "AMQP Version" : {
          "displayName" : "AMQP Version",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "AMQP Version",
          "sensitive" : false
        },
        "Virtual Host" : {
          "displayName" : "Virtual Host",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Virtual Host",
          "sensitive" : false
        },
        "Username" : {
          "displayName" : "Username",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Username",
          "sensitive" : false
        },
        "Client Certificate Authentication Enabled" : {
          "displayName" : "Client Certificate Authentication Enabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Client Certificate Authentication Enabled",
          "sensitive" : false
        },
        "Headers Source" : {
          "displayName" : "Headers Source",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Headers Source",
          "sensitive" : false
        },
        "Password" : {
          "displayName" : "Password",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Password",
          "sensitive" : true
        }
      },
      "retriedRelationships" : [ "failure" ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.amqp.processors.PublishAMQP",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "failure", "not.found", "permission.denied" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.9.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "c1c14e47-d116-3b73-89c1-2941cb39b42c",
      "maxBackoffPeriod" : "10 mins",
      "name" : "FetchFile",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -1464.0,
        "y" : -840.0
      },
      "properties" : {
        "Move Conflict Strategy" : "Rename",
        "File not Found Log Level" : "ERROR",
        "Permission Denied Log Level" : "ERROR",
        "File to Fetch" : "${absolute.path}/${filename}",
        "Completion Strategy" : "None"
      },
      "propertyDescriptors" : {
        "Move Conflict Strategy" : {
          "displayName" : "Move Conflict Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Move Conflict Strategy",
          "sensitive" : false
        },
        "Move Destination Directory" : {
          "displayName" : "Move Destination Directory",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Move Destination Directory",
          "sensitive" : false
        },
        "File not Found Log Level" : {
          "displayName" : "File not Found Log Level",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "File not Found Log Level",
          "sensitive" : false
        },
        "Permission Denied Log Level" : {
          "displayName" : "Permission Denied Log Level",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Permission Denied Log Level",
          "sensitive" : false
        },
        "File to Fetch" : {
          "displayName" : "File to Fetch",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "File to Fetch",
          "sensitive" : false
        },
        "Completion Strategy" : {
          "displayName" : "Completion Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Completion Strategy",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ "failure", "permission.denied" ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.FetchFile",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "failure" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.9.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "c71dcac4-7b09-308f-a5f9-37805906d552",
      "maxBackoffPeriod" : "10 mins",
      "name" : "AttributesToJSON",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -616.0,
        "y" : -592.0
      },
      "properties" : {
        "Destination" : "flowfile-content",
        "Null Value" : "false",
        "Pretty Print" : "true",
        "Include Core Attributes" : "true",
        "JSON Handling Strategy" : "ESCAPED"
      },
      "propertyDescriptors" : {
        "Attributes Regular Expression" : {
          "displayName" : "Attributes Regular Expression",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Attributes Regular Expression",
          "sensitive" : false
        },
        "Destination" : {
          "displayName" : "Destination",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Destination",
          "sensitive" : false
        },
        "Null Value" : {
          "displayName" : "Null Value",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Null Value",
          "sensitive" : false
        },
        "Attributes List" : {
          "displayName" : "Attributes List",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Attributes List",
          "sensitive" : false
        },
        "Pretty Print" : {
          "displayName" : "Pretty Print",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Pretty Print",
          "sensitive" : false
        },
        "Include Core Attributes" : {
          "displayName" : "Include Core Attributes",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Include Core Attributes",
          "sensitive" : false
        },
        "JSON Handling Strategy" : {
          "displayName" : "JSON Handling Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "JSON Handling Strategy",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ "failure" ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.AttributesToJSON",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.9.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "cfc7a2ad-cfcb-393d-b80a-3bf50a8c6c45",
      "maxBackoffPeriod" : "10 mins",
      "name" : "ListFile",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -2120.0,
        "y" : -840.0
      },
      "properties" : {
        "Minimum File Age" : "0 sec",
        "Entity Tracking Initial Listing Target" : "all",
        "Track Performance" : "false",
        "Max Disk Operation Time" : "10 secs",
        "Max Directory Listing Time" : "3 mins",
        "Recurse Subdirectories" : "true",
        "File Filter" : "[^\\.].*",
        "Include File Attributes" : "true",
        "Input Directory Location" : "Local",
        "Target System Timestamp Precision" : "auto-detect",
        "Input Directory" : "/storage/input",
        "Entity Tracking Node Identifier" : "${hostname()}",
        "Minimum File Size" : "0 B",
        "Ignore Hidden Files" : "true",
        "Listing Strategy" : "timestamps",
        "Entity Tracking Time Window" : "3 hours",
        "Maximum Number of Files to Track" : "100000"
      },
      "propertyDescriptors" : {
        "Minimum File Age" : {
          "displayName" : "Minimum File Age",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Minimum File Age",
          "sensitive" : false
        },
        "Entity Tracking Initial Listing Target" : {
          "displayName" : "Entity Tracking Initial Listing Target",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Entity Tracking Initial Listing Target",
          "sensitive" : false
        },
        "Maximum File Age" : {
          "displayName" : "Maximum File Age",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Maximum File Age",
          "sensitive" : false
        },
        "Track Performance" : {
          "displayName" : "Track Performance",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Track Performance",
          "sensitive" : false
        },
        "Entity Tracking State Cache" : {
          "displayName" : "Entity Tracking State Cache",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Entity Tracking State Cache",
          "sensitive" : false
        },
        "Maximum File Size" : {
          "displayName" : "Maximum File Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Maximum File Size",
          "sensitive" : false
        },
        "Max Disk Operation Time" : {
          "displayName" : "Max Disk Operation Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max Disk Operation Time",
          "sensitive" : false
        },
        "Max Directory Listing Time" : {
          "displayName" : "Max Directory Listing Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max Directory Listing Time",
          "sensitive" : false
        },
        "Recurse Subdirectories" : {
          "displayName" : "Recurse Subdirectories",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Recurse Subdirectories",
          "sensitive" : false
        },
        "File Filter" : {
          "displayName" : "File Filter",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "File Filter",
          "sensitive" : false
        },
        "Path Filter" : {
          "displayName" : "Path Filter",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Path Filter",
          "sensitive" : false
        },
        "Include File Attributes" : {
          "displayName" : "Include File Attributes",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Include File Attributes",
          "sensitive" : false
        },
        "Input Directory Location" : {
          "displayName" : "Input Directory Location",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Input Directory Location",
          "sensitive" : false
        },
        "Target System Timestamp Precision" : {
          "displayName" : "Target System Timestamp Precision",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Target System Timestamp Precision",
          "sensitive" : false
        },
        "Input Directory" : {
          "displayName" : "Input Directory",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Input Directory",
          "sensitive" : false
        },
        "Entity Tracking Node Identifier" : {
          "displayName" : "Entity Tracking Node Identifier",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Entity Tracking Node Identifier",
          "sensitive" : false
        },
        "Record Writer" : {
          "displayName" : "Record Writer",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Record Writer",
          "sensitive" : false
        },
        "Minimum File Size" : {
          "displayName" : "Minimum File Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Minimum File Size",
          "sensitive" : false
        },
        "Ignore Hidden Files" : {
          "displayName" : "Ignore Hidden Files",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Ignore Hidden Files",
          "sensitive" : false
        },
        "Listing Strategy" : {
          "displayName" : "Listing Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Listing Strategy",
          "sensitive" : false
        },
        "Entity Tracking Time Window" : {
          "displayName" : "Entity Tracking Time Window",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Entity Tracking Time Window",
          "sensitive" : false
        },
        "Maximum Number of Files to Track" : {
          "displayName" : "Maximum Number of Files to Track",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Maximum Number of Files to Track",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "30s",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.ListFile",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "failure", "success" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-aws-nar",
        "group" : "org.apache.nifi",
        "version" : "2.9.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "d008159e-e3b3-314b-99f9-d1f06d24bb33",
      "maxBackoffPeriod" : "10 mins",
      "name" : "PutS3Object",
      "penaltyDuration" : "0s",
      "position" : {
        "x" : -160.0,
        "y" : -984.0
      },
      "properties" : {
        "FullControl User List" : "${s3.permissions.full.users}",
        "Resource Transfer Source" : "FLOWFILE_CONTENT",
        "Endpoint Override URL" : "https://garage-api.swigg.net",
        "Multipart Upload Max Age Threshold" : "7 days",
        "Content Type" : "${mime.type}",
        "Canned ACL" : "${s3.permissions.cannedacl}",
        "Use Path Style Access" : "true",
        "Write ACL User List" : "${s3.permissions.writeacl.users}",
        "Use Chunked Encoding" : "true",
        "Read ACL User List" : "${s3.permissions.readacl.users}",
        "Storage Class" : "STANDARD",
        "Multipart Part Size" : "5 GB",
        "Remove Tag Prefix" : "false",
        "Object Key" : "${uuid}/${filename}",
        "Multipart Threshold" : "5 GB",
        "Temporary Directory Multipart State" : "${java.io.tmpdir}",
        "Bucket" : "default",
        "Multipart Upload AgeOff Interval" : "60 min",
        "AWS Credentials Provider Service" : "d7f88fe7-464d-370c-ada5-7fbee944a4a6",
        "Communications Timeout" : "30 secs",
        "Region" : "use-custom-region",
        "Read Permission User List" : "${s3.permissions.read.users}",
        "Custom Region" : "garage"
      },
      "propertyDescriptors" : {
        "FullControl User List" : {
          "displayName" : "FullControl User List",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "FullControl User List",
          "sensitive" : false
        },
        "Resource Transfer Source" : {
          "displayName" : "Resource Transfer Source",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Resource Transfer Source",
          "sensitive" : false
        },
        "Cache Control" : {
          "displayName" : "Cache Control",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Cache Control",
          "sensitive" : false
        },
        "Endpoint Override URL" : {
          "displayName" : "Endpoint Override URL",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Endpoint Override URL",
          "sensitive" : false
        },
        "File Resource Service" : {
          "displayName" : "File Resource Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "File Resource Service",
          "sensitive" : false
        },
        "Multipart Upload Max Age Threshold" : {
          "displayName" : "Multipart Upload Max Age Threshold",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Multipart Upload Max Age Threshold",
          "sensitive" : false
        },
        "Proxy Configuration Service" : {
          "displayName" : "Proxy Configuration Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Proxy Configuration Service",
          "sensitive" : false
        },
        "Object Tags Prefix" : {
          "displayName" : "Object Tags Prefix",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Object Tags Prefix",
          "sensitive" : false
        },
        "Content Type" : {
          "displayName" : "Content Type",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Content Type",
          "sensitive" : false
        },
        "Canned ACL" : {
          "displayName" : "Canned ACL",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Canned ACL",
          "sensitive" : false
        },
        "Use Path Style Access" : {
          "displayName" : "Use Path Style Access",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Use Path Style Access",
          "sensitive" : false
        },
        "Encryption Service" : {
          "displayName" : "Encryption Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Encryption Service",
          "sensitive" : false
        },
        "Write ACL User List" : {
          "displayName" : "Write ACL User List",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Write ACL User List",
          "sensitive" : false
        },
        "Use Chunked Encoding" : {
          "displayName" : "Use Chunked Encoding",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Use Chunked Encoding",
          "sensitive" : false
        },
        "Read ACL User List" : {
          "displayName" : "Read ACL User List",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Read ACL User List",
          "sensitive" : false
        },
        "Content Disposition" : {
          "displayName" : "Content Disposition",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Content Disposition",
          "sensitive" : false
        },
        "Storage Class" : {
          "displayName" : "Storage Class",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Storage Class",
          "sensitive" : false
        },
        "Multipart Part Size" : {
          "displayName" : "Multipart Part Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Multipart Part Size",
          "sensitive" : false
        },
        "Remove Tag Prefix" : {
          "displayName" : "Remove Tag Prefix",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Remove Tag Prefix",
          "sensitive" : false
        },
        "Object Key" : {
          "displayName" : "Object Key",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Object Key",
          "sensitive" : false
        },
        "Multipart Threshold" : {
          "displayName" : "Multipart Threshold",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Multipart Threshold",
          "sensitive" : false
        },
        "Temporary Directory Multipart State" : {
          "displayName" : "Temporary Directory Multipart State",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Temporary Directory Multipart State",
          "sensitive" : false
        },
        "SSL Context Service" : {
          "displayName" : "SSL Context Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "SSL Context Service",
          "sensitive" : false
        },
        "Bucket" : {
          "displayName" : "Bucket",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Bucket",
          "sensitive" : false
        },
        "Multipart Upload AgeOff Interval" : {
          "displayName" : "Multipart Upload AgeOff Interval",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Multipart Upload AgeOff Interval",
          "sensitive" : false
        },
        "AWS Credentials Provider Service" : {
          "displayName" : "AWS Credentials Provider Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "AWS Credentials Provider Service",
          "sensitive" : false
        },
        "Communications Timeout" : {
          "displayName" : "Communications Timeout",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Communications Timeout",
          "sensitive" : false
        },
        "Region" : {
          "displayName" : "Region",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Region",
          "sensitive" : false
        },
        "Read Permission User List" : {
          "displayName" : "Read Permission User List",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Read Permission User List",
          "sensitive" : false
        },
        "Custom Region" : {
          "displayName" : "Custom Region",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Custom Region",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ "failure" ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.aws.s3.PutS3Object",
      "yieldDuration" : "1 sec"
    } ],
    "remoteProcessGroups" : [ ],
    "scheduledState" : "ENABLED",
    "statelessFlowTimeout" : "1 min"
  },
  "flowEncodingVersion" : "1.0",
  "latest" : false,
  "parameterContexts" : { },
  "parameterProviders" : { },
  "snapshotMetadata" : {
    "author" : "admin",
    "flowIdentifier" : "ingestion",
    "timestamp" : 1779479006784
  }
}